<div>
    <%= form_for(@project) do |f| %>
        <div class="
            sm:m-auto 
            sm:mt-8 
            mx-3 
            my-3 
            max-w-lg  
            bg-gray-100 
            border 
            border-gray-300 
            p-7">
        <div>
            <h1 class="text-xl font-semibold  mb-5">Create a Project</h1>
        </div>
        <div class=" flex flex-col mb-3">
            <%= f.label :title,  :class => "mb-1" %>
            <%= f.text_field :title, :class => "mb-3 h-9 focus:outline-none" %>
        </div>
        <div class=" flex flex-col mb-3">
            <%= f.label :description, :class => "mb-1" %>
            <%= f.text_area :description, :class => "mb-3 focus:outline-none" %>
        </div>
        <!-- Technologies title-->
        <% if @technologies.length == 0 %>
        <div class="-mb-3"></div>
        <% else %>
        <div class="">Technologies</div>
        <% end %>
        <!-- List of Technologies -->
        <div class="mb-3 max-w-md p-1  flex flex-row flex-wrap">
            <%= f.collection_check_boxes(:technology_ids, @technologies, :id, :name, include_hidden: false, include_blank: true) do |t| %>
                <div class="flex flex-row mt-1"
                    <%= t.label class:"" do%>
                    <div class="mt-0.5">    
                        <%=t.check_box class:"form-checkbox h-5 w-5 text-gray-600 checked" %>
                    </div>
                    <div class="ml-1.5 mr-2 text-yellow-500">    
                        <%=t.text%>
                    </div>
                </div>
                <% end %>
            <% end %>  
        </div>

        <!-- Create Double Nested Form -->
        <div>
            <h1 class="mb-3 font-semibold">Add Technologies and Resources URL</h1>
        </div>
        <%= f.fields_for :resources do |resources| %>
           
            
            <div class=" flex flex-col mb-3">
                <%= resources.fields_for :technology do |technologies| %>
                    <%= technologies.label :technology,  :class => "mb-1" %>
                    <%= technologies.text_field :name, class:"mb-3 h-9 focus:outline-none" %>
                <% end %>
            </div>

            <div class="flex flex-col mb-3">
                <%= resources.label :url,  :class => "mb-1" %>
                <%= resources.text_field :url, class:"mb-3 h-9 focus:outline-none" %>
            </div>
        <%end %>


     

        <!-- Number of Developers-->
        <div class=" flex flex-col mb-3">
            <%= f.label :number_of_developers, :class => "mb-1" %>
            <%= f.text_field :number_of_developers, :class => "h-9 focus:outline-none" %>
        </div>
        <div>
            <%= f.submit 'Submit Project', :class => 'w-full 
                                                        border 
                                                        hover:border-black 
                                                        transition-all 
                                                        hover:bg-yellow-500 
                                                        mt-5 
                                                        px-5 
                                                        py-2 
                                                        h-12
                                                        rounded-md 
                                                        cursor-pointer 
                                                        focus:outline-none 
                                                        bg-yellow-400' %>
        </div>
    </div>
    <% end %>
</div>